* {
  margin: 0;
  padding: 0;
  background-color: rgb(54, 84, 92);
  text-align: center;
}

.container h1 {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: gray;
  margin-bottom: 1.5rem;
  border-radius: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  color: rgb(5, 48, 33);
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: auto;
  width: 100%;
}

.choice{
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 50%;
}
.choice:hover{
    opacity: .5;
    cursor: pointer;
    background-color: black;
}

.choices img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 5rem;
    font-size: 1.5rem;
    font-weight: 800;

}
#user-score, #comp-score {
    font-size: 3.5rem;
}
#message{
    background-color: rgb(14, 11, 11);
    color: rgb(253, 240, 240);
    font-size: 1.5rem;
    display: inline;
    padding: .8rem;
    border-radius: 1.5rem;
}

.msg-container{
    margin-top: 1rem;
}